<a href="https://colab.research.google.com/github/Fahmidanishi/CODES/blob/main/assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import libraries
import numpy as np
import pandas as pd
import sklearn
from sklearn.datasets import fetch_california_housing

In [ ]:
# Load dataset
dataset = fetch_california_housing()
X = pd.DataFrame(dataset.data, columns=dataset.feature_names)
y = pd.Series(dataset.target, name='MedHouseVal')

In [ ]:
# Check for missing values
print(X.isnull().sum())
print(y.isnull().sum())

MedInc        0
HouseAge      0
AveRooms      0
AveBedrms     0
Population    0
AveOccup      0
Latitude      0
Longitude     0
dtype: int64
0

In [ ]:
# Show first few rows
X.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25

In [ ]:
y.head()

0    4.526
1    3.585
2    3.521
3    3.413
4    3.422
Name: MedHouseVal, dtype: float64

In [ ]:
# Train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(16512, 8)
(4128, 8)
(16512,)
(4128,)

In [ ]:
# Feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

##MLP Regression

In [ ]:
# MLP Regressor
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [ ]:
reg = MLPRegressor(hidden_layer_sizes=(64,64), max_iter=2000, activation='relu', random_state=1).fit(X_train, y_train)
y_pred = reg.predict(X_test)

In [ ]:
# Evaluation
print("MLP Error MAE:", mean_absolute_error(y_test, y_pred))
print("MLP Error MSE:", mean_squared_error(y_test, y_pred))
print("MLP Error RMSE:", np.sqrt(mean_squared_error(y_test, y_pred)))
print("MLP R2 Score  :", r2_score(y_test, y_pred))

MLP Error MAE: 0.3440364681322874
MLP Error MSE: 0.2638550919339021
MLP Error RMSE: 0.5136682703203519
MLP R2 Score  : 0.7976501399967841

##Linear Regression Model

In [ ]:
from sklearn.linear_model import LinearRegression

reg2 = LinearRegression().fit(X_train, y_train)
y_pred2 = reg2.predict(X_test)

In [ ]:
# Evaluation
print("Linear Error MAE:", mean_absolute_error(y_test, y_pred2))
print("Linear Error MSE:", mean_squared_error(y_test, y_pred2))
print("Linear Error RMSE:", np.sqrt(mean_squared_error(y_test, y_pred2)))
print("Linear R2 Score  :", r2_score(y_test, y_pred2))

Linear Error MAE: 0.5351261336554506
Linear Error MSE: 0.5289841670367209
Linear Error RMSE: 0.7273129773603114
Linear R2 Score  : 0.5943232652466202