<a href="https://colab.research.google.com/github/Fahmidanishi/CODES/blob/main/lab_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np           #np variable
import pandas as pd          #pd variable #excle file csv file
import sklearn               #ml preprocessing

In [ ]:
dataset = pd.read_csv('/content/Social_Network_Ads.csv')  #dataset path copied #read the dataset

In [ ]:
dataset.head(3)   #head first theke show korbe #tail last theke

          0  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0

In [ ]:
dataset.tail(5)

            0  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

In [ ]:
dataset.shape

(400, 5)

In [ ]:
#null value check korbo at first from dataset
dataset.isnull().sum()

0                  0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
dataset['Age'][0]

19

In [ ]:
dataset['Age'][0] = np.NaN #dataset edit kore ekta null disi

<ipython-input-8-3c92d2f99134>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset['Age'][0] = np.NaN #dataset edit kore ekta null disi
<ipython-input-8-3c92d2f99134>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Age'][0] = np.NaN #dataset edit kore ekta null disi

In [ ]:
dataset.isnull().sum()

0                  0
Gender             0
Age                1
EstimatedSalary    0
Purchased          0
dtype: int64

## removing entries with null values

In [ ]:
dataset.dropna(inplace=True) # ekta row te kono missing value thakle oi row ta ke bad diye de

In [ ]:
dataset.isnull().sum()

0                  0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

# 399 entries and 5 attributes

In [ ]:
dataset.shape

(399, 5)

## replacing null entries with mean/median/mode

In [ ]:
# mean average of values # we use mean when data are symmetric and there is no outlier # there is continuous numeric data
#median middle value
# mode frequency max
dataset.fillna(dataset.mean(),inplace=True)

TypeError: Could not convert ['MaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleFemaleFemaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleFemaleMaleFemaleMaleMaleMaleFemaleMaleMaleMaleFemaleFemaleFemaleMaleMaleFemaleMaleFemaleFemaleFemaleFemaleMaleMaleFemaleMaleMaleFemaleMaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleMaleMaleFemaleMaleMaleFemaleMaleFemaleMaleMaleFemaleFemaleFemaleMaleFemaleFemaleFemaleMaleMaleMaleFemaleFemaleFemaleMaleMaleMaleMaleFemaleFemaleMaleFemaleMaleMaleMaleFemaleMaleFemaleFemaleFemaleFemaleMaleMaleFemaleMaleMaleFemaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleFemaleMaleMaleMaleMaleMaleMaleMaleMaleFemaleMaleFemaleMaleFemaleFemaleMaleMaleMaleFemaleMaleMaleMaleFemaleFemaleMaleFemaleMaleFemaleMaleMaleFemaleMaleMaleFemaleFemaleFemaleFemaleMaleMaleFemaleMaleMaleFemaleMaleFemaleMaleMaleMaleFemaleMaleMaleFemaleMaleFemaleFemaleFemaleFemaleMaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleMaleMaleFemaleMaleFemaleFemaleMaleFemaleMaleFemaleFemaleMaleMaleMaleFemaleMaleMaleMaleMaleFemaleFemaleMaleMaleMaleMaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleMaleMaleFemaleMaleMaleFemaleMaleFemaleMaleMaleMaleFemaleMaleFemaleMaleFemaleFemaleFemaleMaleMaleMaleFemaleMaleMaleFemaleFemaleFemaleMaleMaleFemaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleMaleFemaleFemaleFemaleMaleFemaleFemaleMaleFemaleMaleMaleFemaleMaleFemaleFemaleMaleMaleFemaleMaleMaleMaleFemaleFemaleFemaleMaleMaleFemaleMaleFemaleFemaleFemaleMaleFemaleMaleMaleMaleMaleFemaleFemaleMaleFemaleMaleMaleFemaleMaleFemaleMaleFemaleMaleFemaleFemaleMaleFemaleFemaleMaleFemaleFemaleFemaleFemaleFemaleMaleMaleMaleFemaleFemaleMaleFemaleFemaleFemaleMaleFemaleMaleFemaleMaleFemaleMaleMaleMaleFemaleMaleMaleFemaleMaleFemaleMaleFemaleFemaleMaleFemaleMaleFemaleMaleMaleFemaleMaleFemaleFemaleMaleMaleMaleFemaleMaleMaleMaleFemaleFemaleFemaleMaleFemaleFemaleMaleMaleFemaleFemaleMaleFemaleMaleFemaleFemaleFemaleFemaleMaleFemaleMaleMaleFemaleMaleFemaleMaleFemaleMaleMaleFemaleMaleMaleFemaleMaleFemaleFemaleMaleFemaleMaleFemale'] to numeric

In [ ]:
dataset.head()

          0  Gender   Age  EstimatedSalary  Purchased
1  15810944    Male  35.0            20000          0
2  15668575  Female  26.0            43000          0
3  15603246  Female  27.0            57000          0
4  15804002    Male  19.0            76000          0
5  15728773    Male  27.0            58000          0

In [ ]:
# label encoder data gule ke unique value dibe #category ke num di replace kore dibe #male female
from sklearn import preprocessing

col_cat = ['Gender']

label_encoder = preprocessing.LabelEncoder()

for col in col_cat:
  dataset[col] = label_encoder.fit_transform(dataset[col])

In [ ]:
dataset['Age'][1] = np.NaN #null korsi

<ipython-input-16-cb17b76bce81>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset['Age'][1] = np.NaN #null korsi
<ipython-input-16-cb17b76bce81>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Age'][1] = np.NaN #null korsi

In [ ]:
dataset.fillna(dataset.mean(),inplace=True) #mean diye replace korsi null ke

In [ ]:
dataset['Age'][1] #mean value print

37.70854271356784

In [ ]:
dataset.isnull().sum()

0                  0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
#mean median same approach

In [ ]:
#median
dataset.fillna(dataset.median(),inplace=True)

In [ ]:
dataset.isnull().sum()

0                  0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [ ]:
dataset['Gender'][4] = np.NaN

<ipython-input-23-f8fcbd9e2771>:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  dataset['Gender'][4] = np.NaN
<ipython-input-23-f8fcbd9e2771>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset['Gender'][4] = np.NaN

In [ ]:
dataset['Gender'][4]

nan

In [ ]:
dataset['Gender'].fillna(dataset['Gender'].mode()[0],inplace=True) #max frequency diye khali entry replace hobe

In [ ]:
dataset['Gender'][4]

0.0

In [ ]:
dataset.head()

          0  Gender  Age  EstimatedSalary  Purchased
0  15624510       1   19            19000          0
1  15810944       1   35            20000          0
2  15668575       0   26            43000          0
3  15603246       0   27            57000          0
4  15804002       1   19            76000          0

In [ ]:
#ekhane first theke dataset ke read korbo then categorial value ke text e convert korbo then head then below procedure
#age and salary same scale e nai tai oder ke scale korbo # scale 2 type standardization

In [ ]:
X = dataset.iloc[:, [1,2,3]].values #first e shob row tai: disi and 2nd ta column #iloc = location index
y = dataset.iloc[:, -1].values

In [ ]:
X[:5]

array([[    1,    19, 19000],
       [    1,    35, 20000],
       [    0,    26, 43000],
       [    0,    27, 57000],
       [    1,    19, 76000]])

In [ ]:
y[:5]

array([0, 0, 0, 0, 0])

In [ ]:
X.shape

(400, 3)

In [ ]:
y.shape # y er pore r kichu nai tai kichu ashe na

(400,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0) #full dataset ke train and test e divide kora
#random state hocche porer bar same value generate kore

In [ ]:
X_train.shape #400 er 80% tai 320 r 3 ta column tai 3

(320, 3)

In [ ]:
X_test.shape #400 er 20%

(80, 3)

In [ ]:
y_train.shape

(320,)

In [ ]:
y_test.shape

(80,)

## Feature scaling

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#train e fit transform ke raksi cz mean r standard deviation calcu kore kaj korbe same kaj test e o tai r fit lagbe na

In [ ]:
X_train[:5]

array([[ 1.02532046,  1.92295008,  2.14601566],
       [-0.97530483,  2.02016082,  0.3787193 ],
       [-0.97530483, -1.3822153 , -0.4324987 ],
       [-0.97530483, -1.18779381, -1.01194013],
       [-0.97530483,  1.92295008, -0.92502392]])

In [ ]:
X_test[:3]

array([[ 1.02532046, -0.79895082,  0.49460758],
       [-0.97530483, -0.02126485, -0.57735906],
       [ 1.02532046, -0.31289709,  0.14694273]])

## model training with naive bayes gaussain

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train) #gaussain er ekta object read koracchi

# fit that means train koracchi

GaussianNB()

In [ ]:
y_pred = classifier.predict(X_test) # test e shudu feature thakbe that's why just x er value y er value nai

In [ ]:
y_pred, y_test

(array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1,
        0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1]),
 array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
        0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
        1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
        0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1]))

# Generating performance metrics

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
cm = confusion_matrix(y_test,y_pred)
print (cm)

[[56  2]
 [ 4 18]]

In [ ]:
precision = precision_score(y_test,y_pred)
print(precision)

0.9

In [ ]:
recall = recall_score(y_test,y_pred)
print(recall)

0.8181818181818182

In [ ]:
f1_score = f1_score(y_test,y_pred)
print(f1_score)

0.8571428571428571

In [ ]:
acc_score = accuracy_score(y_test,y_pred)
print(acc_score)

0.925